@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

button{
  cursor: pointer !important;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 1050px) {
  .custom-container {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 auto ;
  }
}


/* Google Places Autocomplete Dropdown */
.pac-container {
  z-index: 10001 !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  margin-top: 4px;
}

.pac-item {
  padding: 8px 12px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #f3f4f6;
}
.leaflet-container a{
  color: unset;
}
.leaflet-container a.redd{
  color: white;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
  object-fit: contain;
}

.list-center li{
  display: flex;
  align-items: center;
}


.m-right-0{
  margin-right: 0 !important;
}


.mapsection img{
  object-fit: contain !important;
}

.gm-style .gm-style-iw-c{
  padding: 1rem !important;
}

.gm-style-iw-ch{
  display: none;
}

.gm-style-iw-chr{
  position: absolute;
  right: 0;
  top: 0;
}